* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.logo-box img {
    width: 50px;
    height: auto;
}

.flex-start {
    justify-content: flex-start;
}

.modal-container-width {
    max-width: 90%;
}

    .modal-container-width .modal-content{
        width:100%;
    }

.btn-warning:hover, .btn-warning:focus {
    color: #fff;
    background-color: #f7ae00;
    border-color: #f7ae00;
}

.form-row {
    padding-top:1em;
}

.checkbox-description {
    display: flex;
}

    .checkbox-description span {
        width:30px
    }

        .checkbox-description span input[type=checkbox] {
            background-color: #fff;
            border-radius: 3px;
            border: 2px solid #ced4da;
            content: "";
            display: inline-block;
            height: 18px;
            left: 0;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            width: 18px;
            outline: 0!important;
            top: 2px;
            cursor: pointer;
        }

        .checkbox-description span input:checked ~ .checkmark {
            background-color: pink;
        }

.custom-select.is-invalid:focus, .custom-select.is-valid:focus, .custom-select:invalid:focus, .custom-select:valid:focus, .form-control.is-invalid:focus, .form-control.is-valid:focus, .form-control:invalid:focus, .form-control:valid:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(232,122,26,.25) !important;
    box-shadow: 0 0 0 0.15rem rgba(232,122,26,.25) !important;
    border-color: rgba(232,122,26)
}

.bg-dark-blur {
    background-color: #00000070 !important
}

.table-striped tbody tr {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.table-striped tbody tr:hover {
    background-color:#ffdec1;
    
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #c3c9d0;
}

.header-title {
    font-size: 2rem;
}

.ci-form-error {
    color:#b30404;
}

.modal-content .form-horizontal {
    overflow-y: scroll;
}

.alert {
    transition: all .3s ease-out;
}

.database-records {
    text-align: center;
    
}
    .database-records th, .database-records td {
        vertical-align: middle;
    }

        .database-records .scroll-field {
            max-width: 500px;
            overflow-x: scroll;
        }

        .database-records .scroll-field-link {
            max-width:150px;
        }

.row-icon {
    width:50px;
    height: auto;
    max-height: 50px;
}

/* width */
.database-records td::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  .database-records td::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .database-records td::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .database-records td::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  table.dataTable > tbody > tr.child ul.dtr-details {
    float: left;
    text-align: left;
    width: 32%;
    overflow-x: scroll;
    border: 1px solid #dee2e6;
}

    table.dataTable > tbody > tr.child ul.dtr-details li {
        padding-left: 7.2px !important;
        padding-right: 7.2px !important;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }

    .dtr-details li:hover {
        background-color: #ffdec1;        
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }

.fa-check:before {
    color:green;
}

.fa-times:before {
    color: #b10101;
}

.btn-group-last {
    border-left: 1px solid #85e2ff;
}

.btn-group .btn-cancel {
    background-color: #fda5a5;
    border-radius: .15rem 0 0 .15rem !important;
}

.display-none {
    display: none;
}

.data-edit {
    text-align: left;
}

    .data-edit .alert {
        margin:0;
    }

.modal-open .modal {
    position: fixed;
    right: 0;
}

.modal.show .modal-dialog {
    position: fixed;
    right: 0;
    left: 0;
    top: 30%;
    bottom: 0;
}

.text-align-center {
    text-align: center;
}

.flex {
    display:flex;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.my-btn-std {
    width: 130px;
}

.modal-md {
    height: 300px;
}

.full-width {
    width:100%;
}

.padding-bottom-1rem {
    padding-bottom: 1rem;
}

.acknowleg-big-icon {
    font-size: 70px;
}

.pd-bottom-1rem {
    padding-bottom: 1rem;
}

.pd-bottom-2rem {
    padding-bottom: 2rem;
}

.mar-bottom-1rem {
    margin-bottom: 1rem;
}

.mar-top-1rem {
    margin-top: 1rem;
}

.text-align-left {
    text-align: left;
}

.bold-500 {
    font-weight: 500;
}

.iti {
    width: 100%;
}

.padding-0 {
    padding:0;
}

.bootstrap-tagsinput {
    display: block;
}

.dropdown-submenu {
    position:relative;
    padding: .375rem 1.2rem;
}
    .dropdown-submenu span, .dropdown-submenu a {
        color:#323a46;
    }
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:-11.2em;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    position: absolute;
    left: 20px;
    top: 6px;    
    width:0;
    height:0;
    transform: rotate(180deg);
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.text-align-right {
    text-align: right;
}

.img-row {
    padding-bottom: 6em;
}

.img-row img {
    height: auto;
    max-height: 600px;
    width: auto;
    max-width: 400px;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

#responsive-datatable_wrapper .row:nth-child(2) {
    min-height: 40em;
}