.logo-box img {
    width: 50px;
    height: auto;
}

.flex-start {
    justify-content: flex-start;
}

.modal-container-width {
    max-width: 90%;
}

    .modal-container-width .modal-content{
        width:100%;
    }

.btn-warning:hover, .btn-warning:focus {
    color: #fff;
    background-color: #f7ae00;
    border-color: #f7ae00;
}

.form-row {
    padding-top:1em;
}

.checkbox-description {
    display: flex;
}

    .checkbox-description span {
        width:30px
    }

        .checkbox-description span input[type=checkbox] {
            background-color: #fff;
            border-radius: 3px;
            border: 2px solid #ced4da;
            content: "";
            display: inline-block;
            height: 18px;
            left: 0;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            width: 18px;
            outline: 0!important;
            top: 2px;
            cursor: pointer;
        }

        .checkbox-description span input:checked ~ .checkmark {
            background-color: pink;
        }

.custom-select.is-invalid:focus, .custom-select.is-valid:focus, .custom-select:invalid:focus, .custom-select:valid:focus, .form-control.is-invalid:focus, .form-control.is-valid:focus, .form-control:invalid:focus, .form-control:valid:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(232,122,26,.25) !important;
    box-shadow: 0 0 0 0.15rem rgba(232,122,26,.25) !important;
    border-color: rgba(232,122,26)
}

.table-striped tbody tr {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.table-striped tbody tr:hover {
    background-color:#ffdec1;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #c3c9d0;
}

.header-title {
    font-size: 2rem;
}

.ci-form-error {
    color:#b30404;
}

.modal-content .form-horizontal {
    overflow-y: scroll;
}

.alert {
    transition: all .3s ease-out;
}

.database-records {
    text-align: center;
    
}
    .database-records th, .database-records td {
        vertical-align: middle;
    }

        .database-records .scroll-field {
            max-width: 500px;
            overflow-x: scroll;
        }

        .database-records .scroll-field-link {
            max-width:300px;
        }

        .database-records td img {
            width:50px;
            height: auto;
        }

/* width */
.database-records td::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  .database-records td::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .database-records td::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .database-records td::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  table.dataTable > tbody > tr.child ul.dtr-details {
    float: left;
    text-align: left;
    width: 33%;
    overflow-x: scroll;
}

    table.dataTable > tbody > tr.child ul.dtr-details li {
        padding-left: 7.2px !important;
        padding-right: 7.2px !important;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }

    .dtr-details li:hover {
        background-color: #ffdec1;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }

.fa-check:before {
    color:green;
}

.fa-times:before {
    color: #b10101;
}

.under-promotion {
    background-color: #79f3b5!important;
    color: #5d5d5d !important;
}

    .under-promotion td, .under-promotion th {
        border-color:#8cdd99;
    }

.promotion-going-expire {
    background-color: #f3f179!important;
    color: #5d5d5d !important;
}

    .promotion-going-expire td, .promotion-going-expire th {
        border-color:#dcda71;
    }

.promotion-expired {
    background-color: #ff5b5b!important;
    color: #ffffff !important;
}
    .promotion-expired td, .promotion-expired th {
        border-color:#ffb4b4;
    }